# Editor/IDE specifics
.vscode
.idea

# Python specifics
__pycache__
*.pyc
venv/

# Projects specifics
datasets/
!datasets/testing/
logs/
automated_trading_system/backtester/test_bundles/
automated_trading_system/backtester/backtests/
